<mat-card class="w-96">
<form>
  <h2>Sign Up</h2>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="pat@example.com" [(ngModel)]="model.name" name="model.name">
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="model.email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" [(ngModel)]="model.password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>
  <div class="flex gap-2">
    <button mat-raised-button color="primary" type="button" (click)="submit()">Sign Up</button>
    <button mat-raised-button color="warn" type="button" (click)="delete(2)">Delete</button>
  </div>
</form>
</mat-card>

<mat-card class="w-96" *ngFor="let user of users">

    <h2>Users</h2>
    <div class="example-container">
      <h4>{{user.name}}</h4>
    </div>
    <div class="example-container">
      <h6>{{user.email}}</h6>
    </div>
    <div class="flex gap-2">
      <button mat-raised-button color="warn" type="button" (click)="delete(user.id)">Delete</button>
    </div>

</mat-card>

