<mat-card class="w-96">
<form>
  <h2>Sign Up</h2>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" (click)="submit()">Sign Up</button>
</form>
</mat-card>
