<mat-card class="w-96">
  <form>
    <h2>Account Login</h2>

    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="someone@example.com" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="secret" />
    </mat-form-field>
    <section>
      <mat-slide-toggle>Show Password</mat-slide-toggle>
    </section>
    <br />
    <section>
      <button mat-flat-button color="primary">Continue</button>
    </section>
    <br />
    <section>
      <h3>Forgot Password?</h3>
      <p>
        Don't worry, we are here to help you to retrive your account
        credentilas.
        <a href="" class="underline">Reset Password </a>
      </p>
    </section>
  </form>
</mat-card>
