<div class="h-1/3 w-1/3">
  <mat-card>
    <form class="w-full h-full">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Book Name</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="data.book.name" name="data.name">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Thumbnail</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="data.book.thumbUrl" name="data.thumbnail">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Name" [(ngModel)]="data.book.price" name="data.price">
      </mat-form-field>
      <div class="gap-4">
        <button mat-raised-button color="primary" class="m-2" (click)="update(data.book.id)">Create Book</button>
        <button mat-raised-button class="m-2">Cancel</button>
      </div>
    </form>
  </mat-card>
</div>
